@model IEnumerable<Conselho.Models.FichaDeDistribuicao>

@{
    ViewBag.Title = "EscolhaTurmas";
}

<br />
<br />

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Ola, Professor </h2>
    </div>
    <div class="mdl-card__supporting-text">
     Seja Bem Vindo ao conselho de Classe
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Inicie
        </a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </button>
    </div>
</div>


<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model._Turma.TurmaID) </th>
                <th scope="col">@Html.DisplayNameFor(model => model._Turma.Serie)/@Html.DisplayNameFor(model => model._Turma.Nome) </th>
                <th scope="col">@Html.DisplayNameFor(model => model._Turma.Turno)</th>
                <th scope="col">Disciplina</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TurmaID  </td>
                <td>@item._Turma.Serie @item._Turma.Nome</td>
                <td>@item._Turma.Turno</td>
                <td>@item._Disciplina.Nome</td>
                <td>
                    <p class="card-text">
                        <small class="text-muted">
                            @Html.ActionLink("Iniciar Conselho", "IniciaConselho", new { idTurma = item.TurmaID, idProf = item._Professor.ProfessorID }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_cadastrar" })
                        </small>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>

