@model Conselho.Models.IniciaConselhoViewModel

<br />
<div>
    <h4>Seja, @Model._Professor.Nome, Bem Vindo ao conselho de Classe </h4>
    <h4> @Model._Turma.Serie @Model._Turma.Nome &emsp; @Model._Turma.Turno </h4>
</div>
<br />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Nome do Aluno </th>
                <th scope="col"> Situação </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        @foreach (var item in Model._Turma._Matriculas)
        {
            <tr>
                <td>@item._Aluno.AlunoID </td>
                <td>@item._Aluno.Nome </td>
                <td>@item._Aluno.Situacao</td>
                <td>
                    <p class="card-text">
                        <small class="text-muted">
                            @*@Html.ActionLink("AVALIAR", "AvaliarAluno", new { idAluno = item.AlunoID })*@
                            @
                        </small>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>


    <button type="button" class="mdl-button show-modal">Show Modal</button>
    <dialog class="mdl-dialog">
        <div class="mdl-dialog__content">
            <p>
                Allow this site to collect usage data to improve your experience?
            </p>
        </div>
        <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <button type="button" class="mdl-button">Agree</button>
            <button type="button" class="mdl-button close">Disagree</button>
        </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        var showModalButton = document.querySelector('.show-modal');
        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        showModalButton.addEventListener('click', function () {
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });
    </script>
