@model  Conselho.Models.DistribuicaoDeAulaViewModel
@{

}
<br />
<div class="jumbotron">
    <h1 class="display-4">Opa! Deu Certo</h1>
    <br />
    <p class="display-4">Id: @Model._turma.TurmaID &emsp; Turma: @Model._turma.Serie  @Model._turma.Nome    </p>
    <hr class="my-4">
    <p class="display-4"> @Model._turma.Turno</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<h3>Dados da distribuição de aula </h3>
<br />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id Disciplina </th>
                <th scope="col">Nome</th>
                <th scope="col">Carga Horária</th>
                <th scope="col">Professores</th>
            </tr>
        </thead>
        @foreach (var item in Model.ListaProfessores)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProfessorID)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                <td> <button class="btn btn-default details" data-id="@item.ProfessorID">disciplina</button></td>
            </tr>
        }
    </table>
</div>
<div class="modal" id="modal">
    @{
        Html.RenderPartial("_testepartial");
    }
</div>


@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Teste?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}


