@model  Conselho.Models.DistribuicaoDeAulaViewModel
@{

}
<br /> 
<br />
<div class="jumbotron" >
  
    <h4 >Id: @Model._turma.TurmaID &emsp; Turma: @Model._turma.Serie  @Model._turma.Nome    </h4>
    <hr class="my-4">
    <h3> @Model._turma.Turno</h3>
</div>
<h3>Dados da distribuição de aula </h3>
<br />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id Disciplina </th>
                <th scope="col">Nome</th>
                <th scope="col">Carga Horária</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model.ListaProfessores)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProfessorID)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                <td>
                    <p class="card-">
                        <small class="text-muted">
                            @Html.ActionLink("Disciplina", "EfetivaDistribuicao", new { idTurma = Model._turma.TurmaID, idProf = item.ProfessorID }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_cadastrar" })
                        </small>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>





