@model  Conselho.Models.AtribuicaoDeAulaViewModel

@{
    ViewBag.Title = "EfetivaDistribuicao";
}

<div class="jumbotron">
    <div>
        <h4>   Turma :   @Model._Turma.Serie @Model._Turma.Nome @Model._Turma.Turno</h4>
        <hr />
        <h4>   Professor @Model._Professor.ProfessorID  - @Model._Professor.Nome</h4>
    </div>
</div>
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome) </th>
                <th scope="col">Carga Horária)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model.ListaDisciplinas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DisciplinaID)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.CargaHoraria)</td>
                <td>
                    <p class="card-text">
                        <small class="text-muted">
                            @Html.ActionLink("Disciplina", "Finaliza", new { idTurma = Model._Turma.TurmaID, idProf = Model._Professor.ProfessorID, idDisc = item.DisciplinaID }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_cadastrar" })
                        </small>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>
