@model IEnumerable<Conselho.Models.Turma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.TurmaID) </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Serie)/@Html.DisplayNameFor(model => model.Nome) </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Turno)</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TurmaID)</td>
                <td>@Html.DisplayFor(modelItem => item.Serie) @Html.DisplayFor(modelItem => item.Nome)     </td>
                <td>@Html.DisplayFor(modelItem => item.Turno)</td>
                <td>
                    <p class="card-text">
                        <small class="text-muted">
                            @Html.ActionLink("Distribuir Aula", "AtribuicaoDeAula", new { id = item.TurmaID }, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_cadastrar" })
                        </small>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>


