@model Conselho.Models.Turma

@{
    ViewBag.Title = "Details";
}

<h1>Alunos Matriculados </h1>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5"> ID Turma : @Model.TurmaID</h1>
        <p class="lead">
            <h3>
                @Model.Serie @Model.Nome &emsp; @Model.Turno</h3>
</p>
    </div>
</div>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Nome do Aluno </th>
                <th scope="col"> Situação </th>
            </tr>
        </thead>


        @foreach (var item in Model._Matriculas)
    {
        <tr>
            <td>@item._Aluno.AlunoID </td>
            <td>@item._Aluno.Nome </td>
            <td>@item._Aluno.Situacao</td>
        </tr>
}
    </table>
</div>



