
@model Conselho.Models.MatriculaViaTurmaViewModel

@{
    ViewBag.Title = "Matricular";
}

<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
            <h3>  Id da Turma : @Model.turma.TurmaID </h3>
            <br />
            <h3> Serie:  @Model.turma.Serie &emsp; Turma:  @Model.turma.Nome  &emsp; Turno: @Model.turma.Turno </h3>
        </p>
    </div>
</div>

<h3>Lista de Alunos </h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Id Aluno</th>
            <th>CGM</th>
            <th>Nome</th>
            <th>Situação</th>
            <th>Matricular Aluno</th>
        </tr>
    </thead>
    @foreach (var item in Model.alunosParaMatricular)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AlunoID)</td>
            <td>@Html.DisplayFor(modelItem => item.CGM)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
            <td>
                <p class="card-text">
                    <small class="text-muted">
                        @Html.ActionLink("Efetivar Matricula", "EfetuarMatricula", new { idTurma = Model.turma.TurmaID, idAluno = item.AlunoID })
                    </small>
                </p>
            </td>
        </tr>
    }
</table>

