
@model Conselho.Models.MatriculaViaTurmaViewModel

@{
    ViewBag.Title = "Matricular";
}

<br />
<h2>Matricular</h2>
<br />

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">TURMAS</h1>
            <p class="lead">
                <h3>  Id: @Model.turma.TurmaID  Serie:@Model.turma.Serie &emsp; Turma:@Model.turma.Nome  &emsp; Turno: @Model.turma.Turno </h3>
            </p>
        </div>
    </div>

    <h1>Alunos </h1>

    @foreach (var item in Model.alunosParaMatricular)
    {

        <tr>
            <th>
                Id: @item.AlunoID  Serie:@item.CGM &emsp; Turma:@item.Nome  &emsp; Turno: @item.Situacao
            </th>
            <td>
                <p class="card-text">
                    <small class="text-muted">
                        @Html.ActionLink("Efetivar Matricula", "EfetuarMatricula", new { idTurma = Model.turma.TurmaID, idAluno = item.AlunoID })
                    </small>
                </p>
            </td>
        </tr>
  
    }


