@model Conselho.Models.MatriculaViewModel

@{
    ViewBag.Title = "Matricular";
}
<br />
<h2>Matricular</h2>
<br />

<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@Model.alunosParaMatricular.Nome</h1>
            <p class="lead">
                <h3>@Model.alunosParaMatricular.CGM</h3>
                <h3>@Model.alunosParaMatricular.Foto</h3>
            </p>
        </div>
    </div>

    <h1>Turmas </h1>


    @foreach (var item in Model.turmasParaMatricula)
    {


        <tr>
            <th>
                Id: @item.TurmaID  Serie:@item.Serie &emsp; Turma:@item.Nome  &emsp; Turno: @item.Turno
            </th>
            <td>
                <p class="card-text">
                    <small class="text-muted">
                        @Html.ActionLink("Efetivar Matricula", "EfetuarMatricula", new { idTurma = item.TurmaID, idAluno=Model.alunosParaMatricular.AlunoID})
                    </small>
                </p>
            </td>
        </tr>

    }
</div>